@use "./utils" as utils;
@use "./media" as media;
@use "./color" as clr;

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: #fff;

    font-family: "Roboto", sans-serif;
    color: #101010;
}

.container {
    @include utils.container;
}
